* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #f2f2f2;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* ThumbAnimation.css */

.thumb-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.thumb {
  width: 50px;
  height: 50px;
  background-image: url('./assets/thumbs-up.png') no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  animation: thumbUp 2s infinite;
}

@keyframes thumbUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}